.shadow {
  position: fixed;
  width: 100vw;
  height: 100vh;

  top: 0;

  background: rgba(0, 0, 0, 0.76);
}

.section {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;

  background: white;
  box-shadow: var(--box-shadow);
  padding: 2em;
}

.gotItButton {
  width: 100%;
}
