.article {
  display: grid;
  grid-template-rows: auto auto 1fr auto;

  box-shadow: var(--box-shadow);
  margin: 4em;
  padding: var(--padding);

  min-height: 16em;
}

.action {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--padding);
}
