.container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  padding: var(--padding);
  box-shadow: var(--box-shadow);
}

.header {
  grid-column: span 2;
}

@media screen and (max-width: 640px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
