.footer {
  padding: var(--padding);

  background: black;
  color: white;
}

.footer .sticky {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.footer li {
  list-style-type: none;
}

.sticky {
  position: absolute;
  bottom: 0;
  width: 100%;
}
